form button:hover , .nav-item a:hover{
  color: red !important;
}
form ::placeholder{
  color: #212529;
}
.name input, textarea{
  outline: none !important;
  border: none !important;
  background: #f5f6fa;
}
@media(max-width:426){
  .image img{
    width: 420px !important;
  }
}